.product-cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.bitcoin-img-container {
    background-image: url("../MultiMedia/img/bitcoinbaby.jpg");
}

.plans-container-slider {
    justify-content: center;
    overflow-x: hidden;
}